[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CorrMixed"]
	path = CorrMixed
	url = https://github.com/cran/CorrMixed
[submodule "EffectTreat"]
	path = EffectTreat
	url = https://github.com/cran/EffectTreat
